__MACOSX
squaredesk_*
SquareDeskPlayer
*.o
moc_*.cpp
qrc_resources.cpp
ui_*.h
build-*
/SquareDesk-DEV/local/
/SquareDesk-DEV/taglib/libtaglib.a
/SquareDesk-DEV/taglib/taglib/Makefile
/SquareDesk-DEV/Makefile
/SquareDesk-DEV/html-tidy/Makefile
SquareDesk.pro.user
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**/CMakeOutput.log
**/jquery*.zip

*.user
*.autosave
