/* Sample CSS stylesheet for singing call lyrics in HTML */
/* For correction operation of the Lyrics editor, the colors must be distinct from each other */
body, p, font { font-family: Verdana;     font-size: large;   font-weight: Normal;  color: #000000; line-height: 100%; background: #FFFFE0; }

.title        { font-family: Verdana; font-size: x-large; font-weight: Normal;  color: #010101;}
.label        { font-family: Verdana; font-size: medium;  font-weight: Normal;  color: #60C060;}
.artist       { font-family: Verdana; font-size: medium;  font-weight: Normal;  color: #0000FF;}
.hdr          { font-family: Verdana; font-size: x-large; font-weight: Normal;  color: #FF0002;}
.lyrics       { font-family: Verdana; font-size: large;   font-weight: Normal;  color: #030303; background-color: #FFC0CB;}
