<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SquareDesk</string>
	<key>CFBundleExecutable</key>
	<string>SquareDesk</string>
	<key>CFBundleIconFile</key>
	<string>desk1d.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.zenstarstudio.SquareDesk</string>
	<key>CFBundleName</key>
	<string>SquareDesk</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.5.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
	        <key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2025 Michael Pogue and Dan Lyke</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>QtWebEngineAllowFileAccess</key>
	<true/>
	<key>QtWebEngineLocalContentCanAccessFileUrls</key>
	<true/>
	<key>QtWebEngineLocalContentCanAccessRemoteUrls</key>
	<true/>
</dict>
</plist>
