#include "windows.h"

1000 DIALOG DISCARDABLE  100, 100, 200, 49
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BASSmix multi-speaker example"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "click here to open a file...",10,5,5,190,14
    LTEXT           "Speaker pairs:",-1,15,31,46,8
    CONTROL         "1",11,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,70,30,25,10
    CONTROL         "2",12,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,100,30,25,
                    10
    CONTROL         "3",13,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,30,25,
                    10
    CONTROL         "4",14,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,160,30,25,
                    10
END
